body {
    background-color: rgba(208, 243, 255, 0.849);
  }

  #hq{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   line-height: 2.0;
  }


  .hp{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: Left;
    line-height: 2.0;
  }


  .container {
    display: flex;
    align-items: center; 
  }
  .fav {
  border-radius: 20px;
margin-left: 10px;
margin-top: 30px;


  }

 .sur {
  display: flex;
  justify-content: center; 
  align-items: center;     
  align-self: center;         
}
.containero {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.containero div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
